@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #F2B705;
  --color-accent: #7BA05B;

  --color-background: #F9F9F9;
  --color-text: #333333;

  --gradient-primary: linear-gradient(90deg, #003366 0%, #F2B705 100%);
  --gradient-accent: linear-gradient(90deg, #003366 0%, #7BA05B 100%);
}

* {
  box-sizing: border-box;
  outline: none;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.btn {
  background-color: #003366; 
  color: #F2B705; 
  font-weight: 600;
  padding: 8px 6px;
  border-radius: 8px;
  border: 2px solid #F2B705;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent; 
  color: #7BA05B;
  border-color: #7BA05B;
}
